html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.right {
  float: right;
}

.text-center {
  text-align: center;
}

.center {
  margin: 0 auto;
}

.clearfix, #top, #badges, .nav {
  zoom: 1;
}
.clearfix:before, #top:before, #badges:before, .nav:before, .clearfix:after, #top:after, #badges:after, .nav:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after, #top:after, #badges:after, .nav:after {
  clear: both;
}

img.b {
  border: 1px solid #eee;
}

.inner, #top {
  margin: 0 auto;
  width: 960px;
  max-width: 960px;
}

a {
  color: #222222;
  text-decoration: none;
}
a:hover {
  color: #f16522;
}

/* main */
div.button, #button-jodd {
  margin-bottom: 20px;
}
div.button a, #button-jodd a {
  background-color: #f16522;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  color: #222222;
  font-family: "Fjalla One", Helvetica, sans-serif;
  padding: 20px 20px;
  text-align: center;
  font-size: 26px;
  display: block;
  width: 200px;
  text-decoration: none;
}
div.button a:hover, #button-jodd a:hover {
  color: #fff;
  background-color: #f9a748;
}
div.button a div.sub, #button-jodd a div.sub {
  font-family: "Open Sans Condensed", Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 4px;
}

div.button-long a {
  width: 500px;
}

/* header */
#social {
  margin-top: 20px;
  margin-right: 80px;
  float: right;
}

#social a {
  font-size: 25px;
  color: #ecdcc4;
  margin-right: 10px;
  position: relative;
}
#social a:hover {
  color: #fff;
}

#social a span {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: none;
  position: absolute;
  top: -28px;
  right: 0;
  padding: 3px 6px;
  background: #454545;
  color: #fff;
  font-size: 12px;
  font-family: "Open Sans Condensed", Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
  white-space: nowrap;
}
#social a span:after {
  position: absolute;
  top: 18px;
  right: 6px;
  content: " ";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #454545;
}

#social a:hover span {
  display: block;
}

#intro {
  background: url(/img/vs.jpg) no-repeat fixed;
  background-size: 100% auto;
  padding-top: 6px;
}
#intro header {
  background-color: #fff;
}

#shout {
  font-size: 20px;
  text-align: center;
  color: #fff;
  background-color: #f16522;
  padding: 16px 0 10px 0;
}
#shout strong {
  font-weight: bold;
}
#shout p {
  margin-bottom: 2px;
}
#shout a {
  color: #fff;
  border-bottom: 1px dotted #fff;
}
#shout a:hover {
  border-bottom: 1px solid #fff;
}

#top nav {
  float: right;
  margin-right: 40px;
}
#top nav a {
  font-family: "Fjalla One", Helvetica, sans-serif;
  display: block;
  padding: 30px 5px;
  float: left;
}

#logo {
  float: left;
  background-color: #f16522;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  display: block;
}
#logo i {
  width: 20px;
}

#title {
  color: #fff;
  padding: 60px 40px 60px 40px;
}
#title h1 {
  font-family: "Lato", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 80px;
  margin-bottom: 20px;
}
#title h2 {
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 30px;
}

#button-jodd {
  float: right;
  margin-top: 60px;
  margin-right: 100px;
  margin-bottom: 0;
}
#button-jodd a {
  color: #ecdcc4;
}

/* content */
#main {
  margin: 40px 0;
  color: #444444;
}
#main h2 {
  text-align: center;
  font-family: "Fjalla One", Helvetica, sans-serif;
  font-size: 30px;
  margin-bottom: 6px;
}
#main .under {
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;
}
#main .under a {
  border-bottom: 1px dotted black;
}
#main .under a:hover {
  border-bottom: none;
}

#content article > * {
  padding-left: 40px;
  padding-right: 20px;
}

#content {
  margin: 40px 0 0 0;
  color: #444444;
  position: relative;
}
#content #social {
  margin-top: -40px;
  margin-right: 20px;
}
#content #social a {
  color: #ecdcc4;
}
#content .inner, #content #top {
  background-color: #f9f9f9;
  position: relative;
  margin-top: -200px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}
#content article {
  background-color: #fff;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  width: auto;
  margin-right: 280px;
  border-right: 1px solid #f4f3f1;
  -webkit-box-shadow: #eeeeee 4px 4px 10px;
  -moz-box-shadow: #eeeeee 4px 4px 10px;
  box-shadow: #eeeeee 4px 4px 10px;
  padding: 20px 0;
}
#content article a {
  color: #f16522;
}
#content article a:hover {
  text-decoration: underline;
  color: #f9a748;
}
#content article a.javadoc {
  float: right;
}
#content article hr {
  margin: 10px 10px 10px 0;
}
#content article h1 {
  font-size: 50px;
  font-family: "Fjalla One", Helvetica, sans-serif;
  margin-bottom: 30px;
  letter-spacing: -3px;
}
#content article h2 {
  font-size: 36px;
  margin: 30px 0 10px 0;
  letter-spacing: -1px;
}
#content article h3 {
  font-size: 26px;
}
#content article p, #content article ul, #content article ol {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}
#content article p.attn {
  padding: 10px 40px !important;
  background-color: #fff7d6;
}
#content article strong {
  font-weight: bold;
}
#content article em {
  font-style: italic;
}
#content article em.jodd {
  font-style: normal;
  background-color: #fef3ee;
  padding: 0 1px;
}
#content article li {
  margin-left: 50px;
  list-style: disc;
}
#content article ul.doc-all li {
  margin-left: 20px;
  list-style: none;
}
#content article li.doc-more {
  margin-top: 6px;
}
#content article div.button a, #content article #button-jodd a {
  color: #ecdcc4;
}
#content article div.button a:hover, #content article #button-jodd a:hover {
  color: #fff;
  text-decoration: none;
}
#content aside {
  position: absolute;
  top: 40px;
  right: 0;
  width: 260px;
  color: #888;
  display: block;
}
#content aside h2 {
  font-size: 26px;
  letter-spacing: -1px;
  font-weight: bold;
  margin-bottom: 6px;
}
#content aside h2.doc {
  color: #666;
}
#content aside h3 {
  font-size: 18px;
  letter-spacing: -1px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 6px;
}
#content aside li {
  list-style: none;
  margin-bottom: 6px;
  margin-left: 10px;
  margin-right: 6px;
}
#content aside a {
  color: #f16522;
}
#content aside a:hover {
  text-decoration: underline;
  color: #f9a748;
}
#content aside li.doc-this {
  background-color: #f0f0f0;
  padding: 4px 10px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  font-weight: bold;
  margin-left: 0;
  margin-right: 0;
}
#content aside li.doc-more {
  margin-top: 6px;
}
#content aside ul.toc-1 {
  margin-right: 10px;
  border-bottom: 1px dotted #666;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
#content aside li.toc-h3 {
  margin-left: 26px;
  font-size: 14px;
}

#search {
  margin: 20px 0;
}

#search input {
  width: 180px;
}

input[type="search"] {
  -webkit-appearance: searchfield;
  box-sizing: border-box;
  padding: 1px;
  background-color: white;
  border: 2px inset;
}

#search button {
  position: absolute;
  top: -500px;
}

#title-doc {
  padding: 100px 0;
}

code {
  font-family: "Inconsolata", Courier, monospace;
  font-size: 16px;
  letter-spacing: -1px;
  color: #444444;
  background: #fafafa;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 0 2px;
}

div.pre {
  padding: 0 !important;
}

pre {
  overflow: auto;
  color: #444444;
  padding: 10px 0 10px 10px;
  margin: 0 0 10px 0;
  font-family: "Inconsolata", Courier, monospace;
  font-size: 14px;
  line-height: 18px;
  background-color: whitesmoke;
}

pre code {
  background: none;
  border: none;
  padding: 0;
  font-size: 14px;
}

#badges {
  width: 820px;
  margin: 0 auto;
}

.badge {
  float: left;
  width: 180px;
  text-align: center;
  margin: 10px;
  font-size: 16px;
}
.badge span {
  font-weight: bold;
  font-size: 20px;
}

.circle {
  width: 100px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  background-color: #ecdcc4;
  font-size: 60px;
  line-height: 100px;
  color: #777;
  text-align: center;
  font-weight: bold;
  margin-left: 40px;
  margin-bottom: 15px;
  display: block;
  text-decoration: none;
}

.square {
  width: 100px;
  background-color: #ecdcc4;
  font-size: 60px;
  line-height: 100px;
  color: #777;
  text-align: center;
  font-weight: bold;
  margin-left: 40px;
  margin-bottom: 15px;
  display: block;
}

.hexagon {
  width: 100px;
  height: 55px;
  background: #ecdcc4;
  position: relative;
  font-size: 60px;
  font-weight: bold;
  color: #777;
  margin-left: 40px;
  margin-bottom: 40px;
  margin-top: 20px;
  display: block;
}

.hexagon:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid #ecdcc4;
}

.hexagon:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid #ecdcc4;
}

.bg-col1 {
  background-color: #c6d0d5;
}

.bg-col2 {
  background-color: #e6e7d1;
}

.bg-col3 {
  background-color: #f5e0d1;
}

.bg-col4 {
  background-color: #edccaf;
}

var {
  background-color: #2b526a;
  color: #fff;
  padding: 0 6px 2px 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-family: "Inconsolata", Courier, monospace;
  letter-spacing: -1px;
  font-size: 14px;
}

var.dep {
  background-color: #6c90a9;
}

var.dep-opt {
  background-color: #909090;
}

var.lib {
  background-color: #ecdcc4;
}

/* release */
dl.release {
  margin: 20px 10px 30px 10px;
  border-top: 1px dotted #9F9F9F;
}
dl.release dt {
  float: left;
  width: 80px;
  text-align: right;
  padding: 2px 6px;
  line-height: 22px;
  margin-top: 6px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 11px;
  color: #383838;
  margin-right: 10px;
  text-shadow: 1px 1px 0 #FFFFFF;
  text-transform: uppercase;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.2) inset;
  -moz-border-radius-topleft: 12px;
  -webkit-border-top-left-radius: 12px;
  border-top-left-radius: 12px;
  -moz-border-radius-bottomleft: 12px;
  -webkit-border-bottom-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
dl.release dt.tag-new {
  background: url(/gfx/tag-new.png) #ffedcf 10px 4px no-repeat;
  border-right: solid 4px #FFA300;
}
dl.release dt.tag-fixed {
  background: url(/gfx/tag-fixed.png) #f0ffe1 10px 4px no-repeat;
  border-right: solid 4px #5BA622;
}
dl.release dt.tag-changed {
  background: url(/gfx/tag-changed.png) #ebe1ff 10px 4px no-repeat;
  border-right: solid 4px #8106E0;
}
dl.release dd {
  border-bottom: 1px dotted #9F9F9F;
  min-height: 25px;
  padding: 10px 20px 10px 10px;
  font-size: 12px;
  margin-left: 10px;
  line-height: 14px;
}
dl.release dd code, dl.release dd var {
  font-size: 12px;
}

/* tables */
table {
  border: 2px solid #D5DCE8;
  margin: 10px 0 10px 40px;
}
table td {
  padding: 4px 12px;
  border: 1px solid white;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

thead td, table th {
  background-color: #7E8AA2;
  color: white;
  font-weight: bold;
  padding: 4px;
}

tbody td.high {
  background-color: #EEF0F4;
  font-size: 14px;
}
tbody tr.r0, tbody tr:nth-child(even) {
  background-color: #fff;
}
tbody tr.r1, tbody tr:nth-child(odd) {
  background-color: #F6F7FA;
}
tbody tr:hover {
  background-color: #FFF1E4;
}
tbody td:hover {
  background-color: #FFE3CA;
}

/* prev-next */
.nav {
  margin: 20px 0;
  background-color: #fff7d6;
  padding: 20px 0;
}
.nav a {
  color: #666 !important;
  display: block;
  font-size: 16px;
}
.nav a:hover {
  text-decoration: none !important;
}
.nav a.nav-next {
  float: right;
}
.nav a.nav-prev {
  float: left;
}

/* footer */
#ohloh {
  margin-top: 40px;
}

footer {
  margin: 50px 0 0 0;
  color: whitesmoke;
  color: #444444;
}

#support {
  background-color: #454545;
  padding: 20px 10px;
}
#support a {
  color: #888;
  margin: 0 20px;
  size: 14px;
}

#overview {
  text-align: center;
  color: #888;
  background-color: #343434;
  padding: 40px 10px;
  size: 12px;
}

/* error */
#error {
  text-align: center;
}
#error h1 {
  font-size: 80px;
  margin-bottom: 40px;
}
#error h2 {
  font-size: 40px;
  margin-bottom: 40px;
}
#error p {
  font-size: 20px;
}

@-webkit-keyframes rotateInUpRight {
  0% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes rotateInUpRight {
  0% {
    -webkit-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

.rotateInUpRight {
  -webkit-animation: rotateInUpRight 1s;
  animation: rotateInUpRight 1s;
}

/** MEDIUM **/
@media only screen and (max-width: 960px), only screen and (max-device-width: 960px) {
  #button-jodd {
    margin-right: 10px;
  }

  #social {
    margin-right: 0;
  }

  #title h2 {
    font-size: 25px;
  }

  .br1 {
    display: none;
  }

  #badges {
    width: 610px;
  }

  #top {
    width: 640px;
    max-width: 640px;
  }

  .inner, #top {
    width: 640px;
    max-width: 640px;
  }

  #content aside {
    position: static;
    width: auto;
    padding: 20px;
  }
  #content article {
    padding-right: 20px;
    margin-right: 0;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
  }
}
/** SMALL**/
@media only screen and (max-width: 640px), only screen and (max-device-width: 640px) {
  #button-jodd {
    float: none;
    margin: 0;
  }
  #button-jodd a {
    margin: 10px auto;
  }

  #title {
    padding: 10px;
    text-align: center;
  }
  #title h1 {
    display: none;
  }
  #title h2 {
    font-size: 20px;
  }

  #social {
    float: none;
  }

  #content #social {
    display: none;
  }

  #badges {
    width: inherit;
  }

  .br2 {
    display: none;
  }

  .badge {
    float: none;
    position: relative;
    width: inherit;
    margin-bottom: 30px;
  }

  .desc {
    position: absolute;
    left: 120px;
    top: 20px;
  }

  .circle, .square, .hexagon {
    margin-left: 0;
    margin-bottom: 0;
  }

  #logo {
    float: none;
    text-align: center;
  }

  #top {
    width: auto;
    max-width: none;
  }
  #top nav {
    float: none;
    margin-right: 0;
  }
  #top nav a {
    text-align: center;
    float: none;
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px dotted #999;
    color: #333;
    font-size: 14px;
  }
  #top nav a:hover {
    background-color: #f0f0f0;
  }

  #title-doc {
    padding: 6px 0;
  }

  #shout .inner, #shout #top, #main .inner, #main #top, #content .inner, #content #top, #intro .inner, #intro #top, footer .inner, footer #top {
    width: auto;
    max-width: none;
    margin-top: 0;
  }

  #shout {
    font-size: 14px;
  }

  #intro {
    background-image: none;
    background-color: #b6421a;
  }

  div.button-long a {
    width: auto;
    font-size: 16px;
    padding: 10px;
  }

  #main h2 {
    font-size: 24px;
  }
  #main .under {
    font-size: 14px;
  }
}
/* coderay */
span.CodeRay {
  white-space: pre;
  border: 0px;
  padding: 2px;
}

.CodeRay .code {
  width: 100%;
}

.CodeRay .debug {
  color: white !important;
  background: blue !important;
}

.CodeRay .annotation {
  color: #000077;
}

.CodeRay .attribute-name {
  color: #bb4488;
}

.CodeRay .attribute-value {
  color: #770000;
}

.CodeRay .binary {
  color: #554499;
}

.CodeRay .binary .char {
  color: #332255;
}

.CodeRay .binary .delimiter {
  color: #332255;
}

.CodeRay .char {
  color: #dd2200;
}

.CodeRay .char .content {
  color: #dd2200;
}

.CodeRay .char .delimiter {
  color: #771100;
}

.CodeRay .class {
  color: #B06;
  font-weight: bold;
}

.CodeRay .class-variable {
  color: #336699;
}

.CodeRay .color {
  color: #00aa00;
}

.CodeRay .comment {
  color: #888888;
}

.CodeRay .comment .char {
  color: #444444;
}

.CodeRay .comment .delimiter {
  color: #444444;
}

.CodeRay .constant {
  color: #036;
  font-weight: bold;
}

.CodeRay .decorator {
  color: #bb00bb;
}

.CodeRay .definition {
  color: #099;
  font-weight: bold;
}

.CodeRay .delimiter {
  color: black;
}

.CodeRay .directive {
  color: #088;
  font-weight: bold;
}

.CodeRay .docstring {
  color: #D42;
}

.CodeRay .doctype {
  color: #3344bb;
}

.CodeRay .done {
  text-decoration: line-through;
  color: gray;
}

.CodeRay .entity {
  color: #800;
  font-weight: bold;
}

.CodeRay .error {
  color: #F00;
  background-color: #ffaaaa;
}

.CodeRay .escape {
  color: #666666;
}

.CodeRay .exception {
  color: #C00;
  font-weight: bold;
}

.CodeRay .float {
  color: #6600ee;
}

.CodeRay .function {
  color: #06B;
  font-weight: bold;
}

.CodeRay .function .delimiter {
  color: #024;
  font-weight: bold;
}

.CodeRay .global-variable {
  color: #dd7700;
}

.CodeRay .hex {
  color: #0022bb;
}

.CodeRay .id {
  color: #33D;
  font-weight: bold;
}

.CodeRay .include {
  color: #B44;
  font-weight: bold;
}

.CodeRay .inline {
  background-color: rgba(0, 0, 0, 0.07);
  color: black;
}

.CodeRay .inline-delimiter {
  font-weight: bold;
  color: #666666;
}

.CodeRay .instance-variable {
  color: #3333bb;
}

.CodeRay .integer {
  color: #0000dd;
}

.CodeRay .imaginary {
  color: red;
}

.CodeRay .important {
  color: #dd0000;
}

.CodeRay .key {
  color: #660066;
}

.CodeRay .key .char {
  color: #6600ff;
}

.CodeRay .key .delimiter {
  color: #440044;
}

.CodeRay .keyword {
  color: #080;
  font-weight: bold;
}

.CodeRay .label {
  color: #970;
  font-weight: bold;
}

.CodeRay .local-variable {
  color: #995500;
}

.CodeRay .map .content {
  color: #880088;
}

.CodeRay .map .delimiter {
  color: #40A;
}

.CodeRay .map {
  background-color: rgba(0, 170, 255, 0.06);
}

.CodeRay .namespace {
  color: #707;
  font-weight: bold;
}

.CodeRay .octal {
  color: #4400ee;
}

.CodeRay .predefined {
  color: #369;
  font-weight: bold;
}

.CodeRay .predefined-constant {
  color: #006699;
}

.CodeRay .predefined-type {
  color: #0a8;
  font-weight: bold;
}

.CodeRay .preprocessor {
  color: #557799;
}

.CodeRay .pseudo-class {
  color: #00C;
  font-weight: bold;
}

.CodeRay .regexp {
  background-color: rgba(255, 0, 255, 0.06);
}

.CodeRay .regexp .content {
  color: #880088;
}

.CodeRay .regexp .delimiter {
  color: #440044;
}

.CodeRay .regexp .modifier {
  color: #cc22cc;
}

.CodeRay .reserved {
  color: #080;
  font-weight: bold;
}

.CodeRay .shell {
  background-color: rgba(0, 255, 0, 0.06);
}

.CodeRay .shell .content {
  color: #22bb22;
}

.CodeRay .shell .delimiter {
  color: #116611;
}

.CodeRay .string {
  background-color: rgba(255, 0, 0, 0.05);
}

.CodeRay .string .char {
  color: #bb00bb;
}

.CodeRay .string .content {
  color: #dd2200;
}

.CodeRay .string .delimiter {
  color: #771100;
}

.CodeRay .string .modifier {
  color: #ee4400;
}

.CodeRay .symbol {
  color: #aa6600;
}

.CodeRay .symbol .content {
  color: #aa6600;
}

.CodeRay .symbol .delimiter {
  color: #774400;
}

.CodeRay .tag {
  color: #070;
  font-weight: bold;
}

.CodeRay .type {
  color: #339;
  font-weight: bold;
}

.CodeRay .value {
  color: #008888;
}

.CodeRay .variable {
  color: #003377;
}

.CodeRay .insert {
  background: rgba(0, 255, 0, 0.12);
}

.CodeRay .delete {
  background: rgba(255, 0, 0, 0.12);
}

.CodeRay .change {
  color: #bbf;
  background: #000077;
}

.CodeRay .head {
  color: #f8f;
  background: #550055;
}

.CodeRay .head .filename {
  color: white;
}

.CodeRay .delete .eyecatcher {
  background-color: rgba(255, 0, 0, 0.2);
  border: 1px solid rgba(230, 0, 0, 0.5);
  margin: -1px;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.CodeRay .insert .eyecatcher {
  background-color: rgba(0, 255, 0, 0.2);
  border: 1px solid rgba(0, 128, 0, 0.5);
  margin: -1px;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.CodeRay .insert .insert {
  color: #0c0;
  background: transparent;
  font-weight: bold;
}

.CodeRay .delete .delete {
  color: #c00;
  background: transparent;
  font-weight: bold;
}

.CodeRay .change .change {
  color: #8888ff;
}

.CodeRay .head .head {
  color: #ff44ff;
}
