    1 /* http://meyerweb.com/eric/tools/css/reset/
    2    v2.0 | 20110126
    3    License: none (public domain)
    4 */
    5 
    6 html, body, div, span, applet, object, iframe,
    7 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    8 a, abbr, acronym, address, big, cite, code,
    9 del, dfn, em, img, ins, kbd, q, s, samp,
   10 small, strike, strong, sub, sup, tt, var,
   11 b, u, i, center,
   12 dl, dt, dd, ol, ul, li,
   13 fieldset, form, label, legend,
   14 table, caption, tbody, tfoot, thead, tr, th, td,
   15 article, aside, canvas, details, embed,
   16 figure, figcaption, footer, header, hgroup,
   17 menu, nav, output, ruby, section, summary,
   18 time, mark, audio, video {
   19     margin: 0;
   20     padding: 0;
   21     border: 0;
   22     font-size: 100%;
   23     font: inherit;
   24     vertical-align: baseline;
   25 }
   26 /* HTML5 display-role reset for older browsers */
   27 article, aside, details, figcaption, figure,
   28 footer, header, hgroup, menu, nav, section {
   29     display: block;
   30 }
   31 body {
   32     line-height: 1;
   33 }
   34 ol, ul {
   35     list-style: none;
   36 }
   37 blockquote, q {
   38     quotes: none;
   39 }
   40 blockquote:before, blockquote:after,
   41 q:before, q:after {
   42     content: '';
   43     content: none;
   44 }
   45 table {
   46     border-collapse: collapse;
   47     border-spacing: 0;
   48 }