<footer>
  <a href="/ko-je-oblac" target="_blank">ko je oblac?</a>
  &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="https://igo.rs/contact">kontakt</a>
  &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/prati">zaprati</a>

  <div id="copyright">Sadržaj je dostupan pod <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a> licencom.</div>
</footer>
