	<footer>
		<div id="support">
			<div class="inner">
				<div class="text-center">
					Need help?<br><br>

					Commercial support is available in form of training, consulting and development hours.<br>
					Please <a href="/contact">contact us</a> for further information.
				</div>
			</div>
		</div>
		<div id="overview">
			<div class="inner">
				<div id="share">
					<a href="https://plus.google.com/share?url=http%3A%2F%jodd.org"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
					<a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fjodd.org&title=Jodd%20-%20microframeworks&source=http%3A%2F%2Fjodd.org
	"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
					<a href="https://twitter.com/intent/tweet?source=webclient&text=Check%20out%20Jodd%2C%20Java%20microframeworks%20and%20utilities%20%28http%3A%2F%2Fjodd.org%29"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
					<a href="https://stackoverflow.com/questions/tagged/jodd"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
					<a href="https://github.com/oblac/jodd"><i class="fa fa-github-square" aria-hidden="true"></i></a>
					<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fjodd.org"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
					<a href="https://www.reddit.com/submit?url=http%3A%2F%2Fjodd.org"><i class="fa fa-reddit-square" aria-hidden="true"></i></a>
				</div>


				© <%= Time.now.year %> Igor Spasić and the Jodd Team, with &nbsp;<span class="heartbeat"></span>.<br>
				<br>
				<b>Jodd</b> is free software, released under the terms of the BSD License.
			</div>
		</div>
	</footer>