
	<meta charset="utf-8">
	<meta name="description" content="Jodd is set of Java micro frameworks, tools and utilities, under 1.5 MB.">
	<meta name="author" content="Jodd">
	<meta name="ROBOTS" content="ALL" />
	<meta name="viewport" content="width=device-width,initial-scale=1"/>

	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!--link href="http://fonts.googleapis.com/css?family=Fjalla+One|Lato:300|Open+Sans+Condensed:300|Source+Sans+Pro:700,400|Inconsolata:300" rel="stylesheet" type="text/css"-->
	<link href="/css/style.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="/css/fonts.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="/css/font-awesome.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="/css/heart.css" media="screen, projection" rel="stylesheet" type="text/css" />

	<!--[if IE]>
		<link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<link rel="shortcut icon" href="favicon.ico"/>
	<![endif]-->
	<script src="/js/jquery-2.1.3.min.js"></script>
	<script src="/js/list.min.js"></script>
	<script>
$(function() {
	fix();
});
$(window).on('resize', fix);

function fix() {
	var $article = $('#content article');
	var $aside = $('#content aside');

	if ($article) {
		if ($aside.css('position') !== 'static') {
			var h1 = $article.height();
			var h2 = $aside.height();
			if (h2 > h1) {
				$article.height(h2);
			}
		}
	}
}
	</script>