<div class="ojar round">
<span class="oname">jodd tools</span>
<br clear="all"/>

<div class="obox">
<img src="/gfx/beanutil.png" align="left" alt="BeanUtil"/>
<h3><a href="/beanutil">BeanUtil</a></h3>
<p>Fastest bean library, bundled with type introspection and type conversion tools and some unique features.</p>
</div>

<div class="obox">
<img src="/gfx/jdatetime.png" align="left" alt="JDateTime"/>
<h3><a href="/jdatetime">JDateTime</a></h3>
<p>Elegant usage and astronomical precision in single time-manipulation class.</p>
</div>

<br clear="all"/>

<div class="obox">
<img src="/gfx/props.png" align="left" alt="Props"/>
<h3><a href="/props">Props</a></h3>
<p>Experience super properties replacement, featuring: UTF8, sections, profiles, macros and more.</p>
</div>
<div class="obox">
<img src="/gfx/email-tool.png" align="left" alt="Email"/>
<h3><a href="/util/email.html">Email</a></h3>
<p>Sending and receiving emails for busy developers.</p>
</div>

<br clear="all"/>

<div class="obox">
<img src="/gfx/swiss-knife.png" align="left" alt="Utilities"/>
<h3><a href="/util/index.html">Utilities</a></h3>
<p>Jodd is packed with many carefully selected utilities;
obsessively optimized for performances and to be easy to use.</p>
</div>

<div class="obox">
<img src="/gfx/servlet.png" align="left" alt="Servlet"/>
<h3><a href="/util/servlets.html">Servlet</a></h3>
<p>Better standard tag library, jsp functions, support for
file download, smart forms....</p>
</div>

<br clear="all"/>

<div class="obox">
<img src="/gfx/http.png" align="left" alt="HTTP"/>
<h3><a href="/util/http.html">HTTP</a></h3>
<p>Tiny and raw HTTP client, helps talking to servers.</p>
</div>

<div class="obox">
	<h3 style="float:none; text-align:center;"><a href="/documentation">...and more...</a></h3>
</div>

<br clear="all"/>
</div>




<div class="ojar round">
<span class="oname">jodd frameworks</span>
<br clear="all"/>

<div class="obox">
<img src="/madvoc/madvoc.png" align="left" alt="Madvoc"/>
<h3><a href="/madvoc/">Madvoc</a></h3>
<p>Elegant web MVC framework that uses CoC and annotations in a pragmatic way to simplify web application development.</p>
</div>

<div class="obox">
<img src="/petite/petite.png" align="left" alt="Petite"/>
<h3><a href="/petite/">Petite</a></h3>
<p>Slick and lightweight DI container that uses annotations and supports sufficient most of features offered by other containers.</p>
</div>

<br clear="all"/>

<div class="obox">
<img src="/proxetta/proxetta.png" align="left" alt="Proxetta"/>
<h3><a href="/proxetta/">Proxetta</a></h3>
<p>The fastest proxy creator with unique approach for defying pointcuts and advices.</p>
</div>

<div class="obox">
<img src="/db/db.png" align="left" alt="DbOom"/>
<h3><a href="/db/">Db &amp; DbOom</a></h3>
<p>Efficient and thin layers that simplifies writing of database code significantly.</p>
</div>

<br clear="all"/>

<div class="obox">
<img src="/paramo/paramo.png" align="left" alt="Paramo"/>
<h3><a href="/paramo/">Paramo</a></h3>
<p>Access method and constructor parameter names with ease.</p>
</div>

<div class="obox">
<img src="/jtx/jtx.png" align="left" alt="JTX"/>
<h3><a href="/jtx/">JTX</a></h3>
<p>Manage transactions with this small stand-alone tx manager.</p>
</div>

<br clear="all"/>

<div class="obox">
<img src="/vtor/vtor.png" align="left" alt="VTor"/>
<h3><a href="/vtor/">VTor</a></h3>
<p>Focused validation framework for any Java object.</p>
</div>

<div class="obox">
<img src="/lagarto/lagarto.png" align="left" alt="Lagarto"/>
<h3><a href="/lagarto/">Lagarto</a></h3>
<p>Fast and versatile all purpose HTML parser.</p>
</div>

<br clear="all"/>

<div class="obox">
<img src="/decora/decora.png" align="left" alt="Decora"/>
<h3><a href="/decora/">Decora</a></h3>
<p>Decoration framework for pages based on templates.</p>
</div>

<div class="obox">
<img src="/jerry/jerry.png" align="left" alt="Jerry"/>
<h3><a href="/jerry/">Jerry</a></h3>
<p>jQuery-friendly Java parser with CSS selectors support.</p>
</div>

<br clear="all"/>

<div class="obox">
<img src="/htmlstapler/stapler.png" align="left" alt="HtmlStapler"/>
<h3><a href="/htmlstapler/">HtmlStapler</a></h3>
<p>Transparently staple many javascript and css resources into single requests.</p>
</div>

<div class="obox">
	<h3 style="float:none; text-align:center;"><a href="/documentation">...and more...</a></h3>
</div>


<br clear="all" />
</div>



<div class="ojar round">
<span class="oname">jodd labs</span>

<div class="obox" style="width:100%">
<img src="/gfx/joy.png" align="left" alt="Jodd Joy"/>
<h3><a href="/util/joy/index.html">Jodd Joy</a></h3>
<p>Start coding your web applications right away, using best Jodd practices integrated into thin application layer.</p>
</div>

<br clear="all"/>
</div>
