<!DOCTYPE html>
<html>
<head>
	<title><%= 'Jodd | ' + (@item[:title] ? @item[:title] : @config[:site][:slogan]) %></title>
	<%= render '/_head.html' %>
<script>
$(document).ready(function() {
	$('.autoplay').slick({
		arrows: false,
		dots: false,
        infinite: true,
        speed: 500,
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 3000	});
});
</script>
<style>
/* Big Triangle */
svg#bigTriangleColor {
	pointer-events: none;
}
#bigTriangleColor path {
	fill: #f16522;
	stroke: #f16522;
	stroke-width: 2;
}
svg#downTriangleColor {
	pointer-events: none;
}
#downTriangleColor path {
	fill: #eee;
	stroke: #eee;
	stroke-width: 2;
}
</style>
</head>
<body>
	<%= render '/_search.html' %>
	<section id="intro">
		<%= render '/_header.html' %>

		<div class="inner">
			<div id="button-jodd"><a href="/download">
				Jodd v<%= @config[:jodd][:version] %>
				<div class="sub">Released: <%= @config[:jodd][:release_date] %></div>
			</a></div>
			<div id="title">
				<h1>Jodd</h1>
				<h2>The Unbearable Lightness of Java</h2>
				<iframe src="https://ghbtns.com/github-btn.html?user=oblac&repo=jodd&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px" style="float:left; margin-top:14px;"></iframe>

				<%= render '/_social.html' %>
			</div>

			<img id="pplane" src="/jodd-pp-128.png">

		</div>
	</section>

	<section id="shout" class="ss-style-bigtriangle">
		<div class="inner">
			<%= yield %>
		</div>
	</section>

	<svg id="bigTriangleColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="40" viewBox="0 0 100 102" preserveAspectRatio="none">
	<path d="M0 0 L50 100 L100 0 Z" />
	</svg>

	<section id="main">
		<div class="inner">

			<h2>Jodd table of Micro-components</h2>

			<div class="under">
				Here are some components for you!
				See <a href="/documentation">documentation</a> for more.
			</div>

			<div id="badges">

				<a href="/beanutil" class="badge radial-out">
					<div class="circle topic-icon">B</div>
					<div class="desc topic-title">
						<span>BeanUtil</span> - fast bean library, type introspection
						and type conversion tools with some unique features.
					</div>
				</a>

				<a href="/jdatetime" class="badge br1 radial-out">
					<div class="circle topic-icon">T</div>
					<div class="desc topic-title">
						<span>JDateTime</span> - astronomical
						precision in single time-manipulation class.
					</div>
				</a>

				<a href="/props" class="badge br1 radial-out">
					<div class="circle topic-icon bg-col1">R</div>
					<div class="desc topic-title">
						<span>Props</span> - properties replacement,
						featuring: UTF8, sections, profiles, macros and more.
					</div>
				</a>

				<a href="/db/" class="badge radial-out">
					<div class="circle topic-icon bg-col4">D</div>
					<div class="desc topic-title">
						<span>DbOom</span> - thin database layers,
						object mapper and Template-SQL that simplifies database code.
					</div>
				</a>

				<a href="/madvoc/" class="badge radial-out">
					<div class="circle topic-icon">M</div>
					<div class="desc topic-title">
						<span>Madvoc</span> - MVC framework based on
						CoC and annotations for pragmatic web development.
					</div>
				</a>

				<a href="/petite/" class="badge radial-out">
					<div class="circle topic-icon bg-col3">P</div>
					<div class="desc topic-title">
						<span>Petite</span> - DI container
						that supports sufficient most of features
						offered by other containers.
					</div>
				</a>

				<a href="/proxetta/" class="badge radial-out">
					<div class="circle topic-icon">X</div>
					<div class="desc topic-title">
						<span>Proxetta</span> - the fastest proxy creator with new, unique
						approach for making pointcuts and different type of advices.
					</div>
				</a>

				<a href="/lagarto/" class="badge br2 radial-out">
					<div class="circle topic-icon bg-col4">L</div>
					<div class="desc topic-title">
						<span>Lagarto</span> - all-purpose HTML parser and DOM builder.
						<br><br><br>
					</div>
				</a>

				<a href="/jerry/" class="badge radial-out">
					<div class="circle topic-icon">J</div>
					<div class="desc topic-title">
						<span>Jerry</span> - jQuery-friendly HTML parser with CSS3 selectors support.
						<br><br><br>
					</div>
				</a>

				<a href="/util/http.html" class="badge br2 radial-out">
					<div class="circle topic-icon bg-col1">H</div>
					<div class="desc topic-title">
						<span>HTTP</span> - Tiny and raw HTTP client, helps talking to servers.
						<br><br>
					</div>
				</a>

				<a href="/util/email.html" class="badge br1 radial-out">
					<div class="circle topic-icon">E</div>
					<div class="desc topic-title">
						<span>Email</span> - sending and receiving emails for busy developers.
						<br><br>
					</div>
				</a>

				<a href="/decora/" class="badge br1 radial-out">
					<div class="circle topic-icon">C</div>
					<div class="desc topic-title">
						<span>Decora</span> - decoration framework for web pages based on templates.
						<br><br>
					</div>
				</a>

				<a href="/json/" class="badge br2 radial-out">
					<div class="circle topic-icon bg-col4">S</div>
					<div class="desc topic-title">
						<span>Json</span> - parsing JSON to objects and serializing objects back to JSON.
						<br><br>
					</div>
				</a>

				<a href="/htmlstapler/" class="badge br1 radial-out">
					<div class="circle topic-icon bg-col1">A</div>
					<div class="desc topic-title">
						<span>HtmlStapler</span> - auto packaging of web resources included by HTML page.
						<br><br>
					</div>
				</a>

			</div>
			<h2>Think Lightweight, Be Awesome, Get Things Done!</h2>
			<img id="pplane2" src="/jodd-pp-128.png">
		</div>
	</section>

		<svg id="downTriangleColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="40" viewBox="0 0 100 100" preserveAspectRatio="none" style="position: relative; top: 2px;">
		<path d="M0 100 L50 0 L100 100 Z" />
		</svg>

	<section id="needhelp">
		<div class="inner">


<a id="small"></a>
<h2>The Importance of Being Small</h2>

<p>
<b>Jodd</b> is oriented around simpler libraries for doing what people have often times used heavyweight frameworks for: not in terms of performance though necessarily, but in terms of mental efforts and scaffolding required to get an MVP out the door. The very point of minimalism from a reliability perspective is to reduce points of failure in code with simply fewer parts.
</p>

<p>
<b>Jodd</b> tools and microframeworks tries to make things as simple as possible, but no simpler.
</p>

<a id="scs"></a>
<h2>Simple Common Sense principle</h2>

<p>
Being <i>Too Smart</i>, programmers introduce various kinds of <i>Magic</i> into their software.
This will usually lead to a software design that is more generic, dynamic and flexible than is needed,
has more features than is needed, and is hence much more complex than is needed.
Also, generally, complex solutions will be slower than simple counterparts,
will be more prone to containing bugs, will be more difficult to debug,
more difficult to maintain, more difficult to explain,
and more difficult to learn. Which are, generally, bad things.
</p>

<p><b>Jodd</b>, instead, is designed to follow simple common sense.</p>

		</div>
	</section>

	<%= render '/_footer.html' %>
	<%= render '/_ga.html' %>

</body>
</html>