<!DOCTYPE html>
<html>
<head>
	<title><%= 'Jodd | ' + (@item[:title] ? @item[:title] : @config[:site][:slogan]) %></title>
	<%= render '_head' %>
</head>
<body>
	<%= render '_search' %>
	<section id="intro">
		<%= render '_header' %>

		<div class="inner">
			<div id="button-jodd"><a href="/download">
				Jodd v<%= @config[:jodd][:version] %>
				<div class="sub">Released: <%= @config[:jodd][:release_date] %></div>
			</a></div>
			<div id="title">
				<h1>Jodd</h1>
				<h2>The Unbearable Lightness of Java</h2>

				<%= render '_social' %>
			</div>
		</div>
	</section>

	<section id="shout">
		<div class="inner" >
			<%= yield %>
		</div>
	</section>

	<section id="main">
		<div class="inner">

			<h2>Jodd Periodic Table of Components</h2>

			<div class="under">
				Here are some components for you!
				See <a href="/doc">documentation</a> for more.
			</div>

			<div id="badges">

				<a href="/doc/beanutil.html" class="badge">
					<div class="square">B</div>
					<div class="desc">
						<span>BeanUtil</span> - fast bean library, type introspection
						and type conversion tools with unique features.
					</div>
				</a>

				<a href="/doc/jdatetime.html" class="badge br1">
					<div class="square">T</div>
					<div class="desc">
						<span>JDateTime</span> - elegant usage and astronomical
						precision in single time-manipulation class.
					</div>
				</a>

				<a href="/doc/props.html" class="badge br1">
					<div class="square bg-col1">R</div>
					<div class="desc">
						<span>Props</span> - super properties replacement,
						featuring: UTF8, sections, profiles, macros and more.
					</div>
				</a>

				<a href="/doc/db/" class="badge">
					<div class="square bg-col4">D</div>
					<div class="desc">
						<span>DbOom</span> - efficient and thin DB layers and
						object mapper that simplify database code.
					</div>
				</a>

				<a href="/doc/madvoc/" class="badge">
					<div class="square">M</div>
					<div class="desc">
						<span>Madvoc</span> - elegant web MVC framework based on
						CoC and annotations for pragmatic web development.
					</div>
				</a>

				<a href="/doc/petite/" class="badge">
					<div class="square bg-col3">P</div>
					<div class="desc">
						<span>Petite</span> - slick and lightweight DI container
						supports sufficient most of features offered by other containers.
					</div>
				</a>

				<a href="/doc/proxetta/" class="badge">
					<div class="square">X</div>
					<div class="desc">
						<span>Proxetta</span> - the fastest proxy creator with new, unique
						approach for making pointcuts and different type of advices.
					</div>
				</a>

				<a href="/doc/lagarto/" class="badge br2">
					<div class="square bg-col4">L</div>
					<div class="desc">
						<span>Lagarto</span> - super fast and versatile all-purpose HTML parser
						and DOM builder.
						<br><br><br>
					</div>
				</a>

				<a href="/doc/jerry/" class="badge">
					<div class="square">J</div>
					<div class="desc">
						<span>Jerry</span> - jQuery-friendly HTML parser with CSS3 selectors support.
						<br><br><br>
					</div>
				</a>

				<a href="/doc/http.html" class="badge br2">
					<div class="square bg-col1">H</div>
					<div class="desc">
						<span>HTTP</span> - Tiny and raw HTTP client, helps talking to servers.
						<br><br>
					</div>
				</a>

				<a href="/doc/email.html" class="badge br1">
					<div class="square">E</div>
					<div class="desc">
						<span>Email</span> - sending and receiving emails for busy developers.
						<br><br>
					</div>
				</a>

				<a href="/doc/decora/" class="badge br1">
					<div class="square">C</div>
					<div class="desc">
						<span>Decora</span> - powerful decoration framework for web pages based on templates.
						<br><br>
					</div>
				</a>

				<div class="badge br1">&nbsp;
				</div>

				<a href="/doc/json/" class="badge br2">
					<div class="square bg-col4">S</div>
					<div class="desc">
						<span>Json</span> - super tool for parsing JSON to objects and serializing objects back to JSON.
						<br><br>
					</div>
				</a>

				<a href="/doc/htmlstapler/" class="badge br1">
					<div class="square bg-col1">A</div>
					<div class="desc">
						<span>HtmlStapler</span> - automatic packaging of web resources included by HTML page.
						<br><br>
					</div>
				</a>

			</div>

			<h2>Think Lightweight, Be Awesome, Get Things Done!</h2>

		</div>
	</section>

	<%= render '_footer' %>
	<%= render '_ga' %>

</body>
</html>