<!DOCTYPE html>
<html>
<head>
	<title><%= 'Jodd | ' + (@item[:title] ? @item[:title] : @config[:site][:slogan]) %></title>
	<%= render '/_head.html' %>
<script>
$(document).ready(function() {
});
</script>
</head>
<body>
	<%= render '/_important.html' %>
	<%= render '/_search.html' %>
	<section id="intro">
		<%= render '/_header.html' %>

		<div class="inner">
			<div id="button-jodd"><a href="/download">
				Download
			</a></div>
			<div id="title">
				<h1>Jodd</h1>
				<h2>The Unbearable Lightness of Java</h2>
				<iframe src="https://ghbtns.com/github-btn.html?user=oblac&repo=jodd&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px" style="float:left; margin-top:14px;"></iframe>

				<%= render '/_social.html' %>
			</div>

			<div style='float:right; width: 0px;'>
			<div id="pplane">
			<img src="/jodd-pp-128.png" style="position:relative;top:-84px; right:-90px;">
			</div>
			</div>

		</div>
	</section>

	<section id="shout">
		<div class="inner">
			<%= yield %>
		</div>
	</section>

	<section id="main">
		<div class="inner">

			<div style="margin: 2em; font-size: 2em;">
				<b>Jodd version v6</b> is the <b>maintained</b> version, working on Java 8 &amp; 11. Only few Jodd components are promoted to v6. The decision is based on the Maven Central Repo statistics.
			</div>

			<h2>Awesome libraries</h2>

			<div class="badges">

				<a href="https://json.jodd.org" class="badge br2 radial-out">
					<div class="ribbon ribbon-top-left"><span>★</span></div>
					<div class="topic-head topic-icon bg-col-1">Json</div>
					<div class="desc topic-title">
						Parsing JSON to objects and serializing objects back to JSON.
					</div>
				</a>

				<a href="https://lagarto.jodd.org" class="badge br2 radial-out">
					<div class="ribbon ribbon-top-left"><span>★</span></div>
					<div class="topic-head topic-icon bg-col-1">Lagarto</div>
					<div class="desc topic-title">
						All-purpose HTML parser and DOM builder.
					</div>
				</a>

				<a href="/http/" class="badge br2 radial-out">
					<div class="topic-head topic-icon bg-col-1">Http</div>
					<div class="desc topic-title">
						Tiny and raw HTTP client, helps talking to servers.
					</div>
				</a>

				<a href="https://mail.jodd.org" class="badge br1 radial-out">
					<div class="ribbon ribbon-top-left"><span>★</span></div>
					<div class="topic-head topic-icon bg-col-1">Email</div>
					<div class="desc topic-title">
						Sending and receiving emails for busy developers.
					</div>
				</a>

				<a href="https://lagarto.jodd.org/jerry/jerry" class="badge radial-out push">
					<div class="ribbon ribbon-top-left"><span>★</span></div>
					<div class="topic-head topic-icon bg-col-1">Jerry</div>
					<div class="desc topic-title">
						jQuery-friendly HTML parser with CSS3 selectors support.
					</div>
				</a>

				<a href="/paramo/" class="badge radial-out">
					<div class="topic-head topic-icon bg-col-1">Paramo</div>
					<div class="desc topic-title">
						Method parameters resolver.
					</div>
				</a>

			</div>

			<h2>Micro-frameworks</h2>

			<div class="badges">

				<a href="/madvoc/" class="badge radial-out">
					<div class="topic-head topic-icon bg-col-2">Madvoc</div>
					<div class="desc topic-title">
						MVC framework based on
						CoC and annotations for pragmatic web development.
					</div>
				</a>

				<a href="/petite/" class="badge radial-out">
					<div class="topic-head topic-icon bg-col-2">Petite</div>
					<div class="desc topic-title">
						DI container
						that supports sufficient most of features
						offered by other containers.
					</div>
				</a>

				<a href="/db/" class="badge radial-out">
					<div class="topic-head topic-icon bg-col-2">DbOom</div>
					<div class="desc topic-title">
						Thin database layers,
						object mapper and Template-SQL that simplifies database code.
					</div>
				</a>

				<a href="/proxetta/" class="badge radial-out">
					<div class="topic-head topic-icon bg-col-2">Proxetta</div>
					<div class="desc topic-title">
						The fastest proxy creator with new, unique
						approach for making pointcuts and different type of advices.
					</div>
				</a>

				<a href="/vtor/" class="badge radial-out push">
					<div class="topic-head topic-icon bg-col-1">VTor</div>
					<div class="desc topic-title">
						Thin validation framework.
					</div>
				</a>

				<a href="/joy/" class="badge radial-out">
					<div class="topic-head topic-icon bg-col-1">Joy</div>
					<div class="desc topic-title">
						All-in-one bootstrap for the web app.
						Run and forget!
					</div>
				</a>
			</div>

			<h2>Utilities</h2>

			<div class="badges-small">

				<a href="https://util.jodd.org" class="badge radial-out">
					<div class="ribbon ribbon-top-left"><span>★</span></div>
					<div class="topic-head topic-icon bg-col-3">BeanUtil</div>
					<div class="desc topic-title">
						Fast bean library, type conversions and introspection.
					</div>
				</a>

				<a href="/props" class="badge br1 radial-out">
					<div class="topic-head topic-icon bg-col-3">Props</div>
					<div class="desc topic-title">
						Better properties: UTF8, sections, profiles, macros...
					</div>
				</a>

				<a href="/decora/" class="badge br1 radial-out">
					<div class="topic-head topic-icon bg-col-3">Decora</div>
					<div class="desc topic-title">
						Decoration framework for web pages.
					</div>
				</a>

				<a href="/htmlstapler/" class="badge br1 radial-out">
					<div class="topic-head topic-icon bg-col-3">Stapler</div>
					<div class="desc topic-title">
						Package of web resources used by HTML page.
					</div>
				</a>

				<a href="/cli/" class="badge br1 radial-out">
					<div class="topic-head topic-icon bg-col-3">Cli</div>
					<div class="desc topic-title">
						Command line argument parser.
					</div>
				</a>

				<a href="/documentation/" class="badge br1 radial-out">
					<div class="topic-head topic-icon bg-col-3"><i class="fa fa-arrow-circle-right"></i></div>
					<div class="desc topic-title"><br>
						AND MORE...
					</div>
				</a>
			</div>

			<h2 style="margin-top: 60px;">Think Lightweight, Be Awesome, Get Things Done!</h2>
			<img id="pplane2" src="/jodd-pp-128.png">
		</div>
	</section>

	<section id="needhelp">
		<div class="inner">


<a id="small"></a>
<h2>The Importance of Being Small</h2>

<p>
<b>Jodd</b> is oriented around simpler libraries for doing what people have oftentimes used heavyweight frameworks for: not in terms of performance though necessarily, but in terms of mental efforts and scaffolding required to get an MVP out the door. The very point of minimalism from a reliability perspective is to reduce points of failure in code with simply fewer parts.
</p>
		</div>
	</section>

<section style="text-align: center;">
	Thank you for supporting Jodd:<br>
	<a href="https://github.com" target="_blank"><img src="/gfx/GitHub_Logo.png"></a> &nbsp;|&nbsp;
	<a href="https://netlify.com" target="_blank"><img src="/gfx/netlify.png"></a> &nbsp;|&nbsp;
	<a href="https://www.jetbrains.com/idea/" target="_blank"><img src="/gfx/intellij.png"></a>&nbsp;|&nbsp;
	<a href="https://www.yourkit.com/" target="_blank"><img src="/gfx/yklogo.png"></a>
</section>

	<%= render '/_footer.html' %>
	<%= render '/_ga.html' %>

</body>
</html>
