{% extends "base.njk" %}

{% block main %}
	<section id="intro">
		<div class="inner">
			<div id="button-jodd">
				<a href="https://github.com/oblac">
					<i class="fa fa-github" target="_blank"></i> Github
				</a>
				<a href="http://stackoverflow.com/tags/jodd">
					<i class="fa fa-stack-overflow" target="_blank"></i> Stack Overflow
				</a>

			</div>
			<div id="title">
				<h1>Jodd</h1>
				<h2>The Unbearable Lightness of Java</h2>
				<iframe src="https://ghbtns.com/github-btn.html?user=oblac&repo=jodd&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px" style="float:left; margin-top:14px;"></iframe>
			</div>

			<div style='float:right; width: 0px;'>
			<div id="pplane">
			<img src="/jodd-pp-128.png" style="position:relative;top:-84px; right:-90px;">
			</div>
			</div>

		</div>
	</section>

	<section id="shout">
		<div class="inner">
			<b>Jodd</b> is a set of micro-frameworks and developer-friendly tools and utilities.<br>
			Code-things-done. Great performances. Tiny dependencies.<br>
			Use what you like!<br>
		</div>
	</section>

	<section id="main">
		<div class="inner">

			<h2>Awesome libraries</h2>

			<div class="badges">

				<a href="https://json.jodd.org" class="badge br2 radial-out">				
					<div class="topic-head topic-icon bg-col-1">Json</div>
					<div class="desc topic-title">
						Parsing JSON to objects and serializing objects back to JSON.
					</div>
				</a>

				<a href="https://lagarto.jodd.org" class="badge br2 radial-out">
					<div class="topic-head topic-icon bg-col-1">Lagarto</div>
					<div class="desc topic-title">
						All-purpose HTML parser and DOM builder.
					</div>
				</a>

				<a href="https://http.jodd.org" class="badge br2 radial-out">
					<div class="topic-head topic-icon bg-col-1">Http</div>
					<div class="desc topic-title">
						Tiny and raw HTTP client, helps talking to servers.
					</div>
				</a>

				<a href="https://mail.jodd.org" class="badge br1 radial-out">
					<div class="topic-head topic-icon bg-col-1">Email</div>
					<div class="desc topic-title">
						Sending and receiving emails for busy developers.
					</div>
				</a>

				<a href="https://lagarto.jodd.org/jerry/jerry" class="badge radial-out">
					<div class="topic-head topic-icon bg-col-1">Jerry</div>
					<div class="desc topic-title">
						jQuery-friendly HTML parser with CSS3 selectors support.
					</div>
				</a>

				<a href="https://proxetta.jodd.org/paramo/paramo" class="badge radial-out">
					<div class="topic-head topic-icon bg-col-1">Paramo</div>
					<div class="desc topic-title">
						Method parameters resolver.
					</div>
				</a>

				<a href="https://util.jodd.org" class="badge radial-out">
					<div class="topic-head topic-icon bg-col-3">Util</div>
					<div class="desc topic-title">
						Various utilities, 0 zependencies. Fast bean library, type conversions and introspection.
					</div>
				</a>

				<a href="https://props.jodd.org" class="badge br1 radial-out">
					<div class="topic-head topic-icon bg-col-3">Props</div>
					<div class="desc topic-title">
						Better properties: UTF8, sections, profiles, macros...
					</div>
				</a>

			</div>

			<h2>Micro-frameworks</h2>

			<div class="badges">

				<a href="https://petite.jodd.org" class="badge radial-out">
					<div class="topic-head topic-icon bg-col-2">Petite</div>
					<div class="desc topic-title">
						DI container
						that supports sufficient most of features
						offered by other containers.
					</div>
				</a>

				<a href="https://db.jodd.org" class="badge radial-out">
					<div class="topic-head topic-icon bg-col-2">Db</div>
					<div class="desc topic-title">
						Thin database layers,
						object mapper and Template-SQL that simplifies database code.
					</div>
				</a>

				<a href="https://proxetta.jodd.org" class="badge radial-out">
					<div class="topic-head topic-icon bg-col-2">Proxetta</div>
					<div class="desc topic-title">
						The fastest proxy creator with new, unique
						approach for making pointcuts and different type of advices.
					</div>
				</a>
			</div>

			<h2 style="margin-top: 60px;">Think Lightweight, Be Awesome, Get Things Done!</h2>
			<img id="pplane2" src="/jodd-pp-128.png">
		</div>
	</section>

	<section id="needhelp">
		<div class="inner">


<a id="small"></a>
<h2>The Importance of Being Small</h2>

<p>
<b>Jodd</b> is oriented around simpler libraries for doing what people have oftentimes used heavyweight frameworks for: not in terms of performance though necessarily, but in terms of mental efforts and scaffolding required to get an MVP out the door. The very point of minimalism from a reliability perspective is to reduce points of failure in code with simply fewer parts.
</p>
		</div>
	</section>

<section style="text-align: center;">
	Thank you for supporting Jodd:<br>
	<a href="https://github.com" target="_blank"><img src="/gfx/GitHub_Logo.png"></a> &nbsp;|&nbsp;
	<a href="https://netlify.com" target="_blank"><img src="/gfx/netlify.png"></a> &nbsp;|&nbsp;
	<a href="https://www.jetbrains.com/idea/" target="_blank"><img src="/gfx/intellij.png"></a>&nbsp;|&nbsp;
	<a href="https://www.yourkit.com/" target="_blank"><img src="/gfx/yklogo.png"></a>
</section>
  
{% endblock %}
