@import "compass/css3";
@import "compass/utilities";
@import "compass/reset";

//$font-text: "Helvetica Neue","Helvetica",sans-serif;
$font-text: "Source Sans Pro", Helvetica, sans-serif;
$font-cond: "Open Sans Condensed", Helvetica, sans-serif;
$font-head: "Lato", Helvetica, sans-serif;
$font-bold: "Fjalla One", Helvetica, sans-serif;
$font-code: "Inconsolata", Courier, monospace;
$width-page: 960px;
$width-page2: 640px;

$color-code: #444;
$color-dark: #222;
$color-orange: #f16522;
$color-orange0: #f5ede1;
$color-orange1: #ecdcc4;
$color-orange2: #f9a748;
$color-footer1: #454545;
$color-footer2: #343434;
$color-attn: #fff7d6;
$color-back: #f5f5f5;
$color-red: #b6421a;
$color-text: #444;

body {
	font-family: $font-text;
	-webkit-font-smoothing: antialiased;
}
.right {
	float: right;
}
.text-center {
	text-align: center;
}
.center {
	margin: 0 auto;
}
.clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}
img.b {
	border: 1px solid #eee;
}

.inner {
	margin: 0 auto;
	width: $width-page;
	max-width: $width-page;
}

a {
	color: $color-dark;
	text-decoration: none;
	&:hover { color: $color-orange; }
}

/* main */
div.button {
	margin-bottom: 20px;
	a {
		background-color: $color-orange;
		@include border-radius(10px);
		color: $color-dark;
		font-family: $font-bold;
		padding: 20px 20px;
		text-align: center;
		font-size: 26px;
		display: block;
		width: 200px;
		text-decoration: none;
		&:hover { color: #fff; background-color: $color-orange2; }

		div.sub {
			font-family: $font-cond;
			font-size: 20px;
			margin-top: 4px;
		}
	}
}
div.button-long {
	a {
		width: 500px;
	}
}

/* header */
#social {
	margin-top: 20px;
	margin-right: 80px;
	float: right;
}
#social a {
	font-size: 25px;
	color: $color-orange1;
	margin-right: 10px;
	position: relative;
	&:hover {color: #fff;}
}
#social a span {
	@include border-radius(3px);
	display:none;
	position:absolute;
	top: -28px;
	right:0;
	padding:3px 6px;
	background:#454545; color:#fff;
	font-size:12px;
	font-family: $font-cond;
	font-weight:bold;
	letter-spacing:0;
	white-space:nowrap;
	&:after {
		position:absolute;
		top:18px;
		right: 6px;
		content:" ";
		width:0;height:0;
		border-left:6px solid transparent;
		border-right:6px solid transparent;
		border-top:6px solid #454545;
	}
}
#social a:hover span {
	display:block;
}

#intro {
	background: url(/img/vs.jpg) no-repeat fixed;
	background-size: 100% auto;
	padding-top: 6px;

	header {
		background-color: #fff;
	}
	#pplane {
		float:right;
		z-index:100;
		position: relative;
		top: -82px;
		left: 40px;
		-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	}
}

#shout {
	font-size: 20px;
	text-align: center;
	color: #fff;
	background-color: $color-orange;
	padding: 16px 0 10px 0;
	strong {
		font-weight: bold;
	}
	p {
		margin-bottom: 6px;
	}
	a {
		color: #fff;
		border-bottom: 1px dotted #fff;
		&:hover {
			border-bottom: 1px solid #fff;
		}
	}
}

#top {
	nav {
		float:right;
		margin-right: 40px;
		a {
			font-family: $font-bold;
			display: block;
			padding: 30px 5px;
			float:left;
		}
	}
	@extend .clearfix;
	@extend .inner;
}
#logo {
	float: left;
	background-color: $color-orange;
	color: #fff;
	padding: 4px 10px;
	font-size: 20px;
	@include border-bottom-radius(6px);
	display: block;
	i {
		width:20px;
	}
	span {
		padding-left: 6px;
		position:relative;
		top: -8px;
	}
}
#title {
	color: #fff;
	padding: 60px 40px 60px 40px;
	h1 {
		font-family: $font-head;
		font-weight: normal;
		font-size: 80px;
		margin-bottom: 20px;
	}
	h2 {
		font-family: $font-head;
		font-size: 30px;
	}
}

#button-jodd {
	@extend div.button;
	float: right;
	margin-top: 60px;
	margin-right: 100px;
	margin-bottom: 0;
	a {
		color: $color-orange0;
	}
}

/* content */

#main {
	margin: 40px 0;
	color: $color-text;
	h2 {
		text-align: center;
		font-family: $font-bold;
		font-size: 30px;
		margin-bottom: 6px;
	}
	.under {
		text-align: center;
		font-size: 18px;
		margin-bottom: 40px;
		a {
			border-bottom: 1px dotted black;
			&:hover {
				border-bottom: none;
			}
		}
	}
}
#content article > * {
	padding-left: 40px;
	padding-right: 20px;
}
#content {
	margin: 40px 0 0 0;
	color: $color-text;
	position: relative;

	#social {
		margin-top: -40px;
		margin-right: 20px;
		a {
			color: $color-orange1;
		}
	}

	.inner {
		background-color: #f9f9f9;
		position: relative;
		margin-top: -200px;
		@include border-top-radius(10px);
	}
	article {
		background-color: #fff;
		@include border-top-left-radius(10px);
		width: auto;
		margin-right: 280px;
		border-right: 1px solid #f4f3f1;
		@include box-shadow(#eee 4px 4px 10px);
		padding: 20px 0;

		a {
			color: $color-orange;
			&:hover {
				text-decoration: underline;
				color: $color-orange2;
			}
		}
		a.javadoc {
			float:right;
		}
		hr {
			margin: 10px 10px 10px 0;
		}
		h1 {
			font-size: 50px;
			font-family: $font-bold;
			margin-bottom: 30px;
			letter-spacing: -3px;
		}
		h2 {
			font-size: 36px;
			margin: 30px 0 10px 0;
			letter-spacing: -1px;
		}
		h3 {
			font-size: 26px;
		}
		p, ul, ol {
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 16px;
		}
		p.attn {
			padding: 10px 40px !important;
			background-color: $color-attn;
		}
		strong {
			font-weight: bold;
		}
		em {
			font-style: italic;
		}
		em.jodd {
			font-style: normal;
			background-color: #fef3ee;
			padding: 0 1px;
		}
		ul li {
			margin-left: 50px;
			list-style: disc;
		}
		ol li {
			margin-left: 50px;
			list-style: decimal;
		}
		ul.doc-all li {
			margin-left: 20px;
			list-style: none;
		}
		li.doc-more {
			margin-top: 6px;
		}

		div.button {
			a {
				color: $color-orange1;
				&:hover { color: #fff; text-decoration: none;}
			}
		}
		blockquote p {
			font-style: italic;
			margin-left: 20px;
			padding-left: 10px;
			border-left: 4px solid #f0f0f0;
			margin-right: 30px;
		}
	}

	aside {
		position: absolute;
		top: 40px;
		right: 0;
		width: 260px;
		color: #888;
		display: block;
		h2 {
			font-size: 26px;
			letter-spacing: -1px;
			font-weight: bold;
			margin-bottom: 6px;
		}
		h2.doc {
			color: #666;
		}
		h3 {
			font-size: 18px;
			letter-spacing: -1px;
			font-weight: bold;
			margin-top: 20px;
			margin-bottom: 6px;
		}
		li {
			list-style: none;
			margin-bottom: 6px;
			margin-left: 10px;
			margin-right: 6px;
		}
		a {
			color: $color-orange;
			&:hover {
				text-decoration: underline;
				color: $color-orange2;
			}
		}
		li.doc-this {
			background-color: #f0f0f0;
			padding: 4px 10px;
			@include border-left-radius(6px);
			font-weight: bold;
			margin-left: 0;
			margin-right: 0;
		}
		li.doc-more {
			margin-top: 6px;
		}
		ul.toc-1 {
			margin-right: 10px;
			border-bottom: 1px dotted #666;
			margin-bottom: 30px;
			padding-bottom: 10px;
		}
		li.toc-h3 {
			margin-left: 26px;
			font-size: 14px;
		}
	}
}
#search {
	margin: 20px 0;
}
#search input {
	width: 180px;
}
input[type="search"] {
	-webkit-appearance: searchfield;
	box-sizing: border-box;
	padding: 1px;
	background-color: white;
	border: 2px inset;
}
#search button {
	position: absolute;
	top: -500px;
}


#title-doc {
	padding: 100px 0;
}

code {
	font-family: $font-code;
	font-size: 16px;
	letter-spacing: -1px;
	color: $color-code;
	background: #fafafa;
	border: 1px solid #ddd;
	@include border-radius(4px);
	padding: 0 2px;
}
div.highlighter-coderay {
	padding: 0 !important;
}
pre {
	overflow: auto;
	color: $color-code;
	padding: 10px 0 10px 10px;
	margin: 0 0 10px 0;
	font-family: $font-code;
	font-size: 14px;
	line-height: 18px;
	background-color: $color-back;
}
pre code {
	background: none;
	border: none;
	padding: 0;
	font-size: 14px;
}

#badges {
	@extend .clearfix;
	width: 820px;
	margin: 0 auto;
}
.badge-frame {
	font-family: $font-head;
	float: left;
	width: 180px;
	text-align: center;
	margin: 10px;
	padding: 10px 0;
}

.badge {
	@extend .badge-frame;
	@include border-radius(10px);
	.desc {
		font-family: $font-text;
		font-size: 15px;
		span {
			font-weight: bold;
			font-size: 20px;
		}
	}
	&:hover { background-color: $color-back; color: $color-text;}
	&:hover div {
		background-color: $color-back;
	}
}
.circle {
	width: 100px;
	@include border-radius(50px);
	background-color: $color-orange1;
	font-size: 60px;
	line-height: 100px;
	color: #777;
	text-align: center;
	font-weight: bold;
	margin-left: 40px;
	margin-bottom: 15px;
	display: block;
	text-decoration: none;
}

.square {
	width: 100px;
	background-color: $color-orange1;
	font-size: 60px;
	line-height: 100px;
	color: #777;
	text-align: center;
	font-weight: bold;
	margin-left: 40px;
	margin-bottom: 15px;
	display: block;
}

.hexagon {
	width: 100px;
	height: 55px;
	background: $color-orange1;
	position: relative;
	font-size: 60px;
	font-weight: bold;
	color: #777;
	margin-left: 40px;
	margin-bottom: 40px;
	margin-top: 20px;
	display: block;
}
.hexagon:before {
	content: "";
	position: absolute;
	top: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid $color-orange1;
}
.hexagon:after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid $color-orange1;
}

.bg-col1 {
	background-color: #c6d0d5;
}
.bg-col2 {
	background-color: #e6e7d1;
}
.bg-col3 {
	background-color: #f5e0d1;
}
.bg-col4 {
	background-color: #edccaf;
}

var {
	background-color: #2b526a;
	color: #fff;
	padding: 0 6px 2px 4px;
	@include border-radius(4px);
	font-family: $font-code;
	letter-spacing: -1px;
	font-size: 14px;
}
var.dep {
	background-color: #6c90a9;
}
var.dep-opt {
	background-color: #909090;
}
var.lib {
	background-color: $color-orange1;
}

/* release */

dl.release {
	margin: 20px 10px 30px 10px;
	border-top: 1px dotted #9F9F9F;

	dt {
		float:left;
		width: 80px;
		text-align:right;
		padding: 2px 6px; line-height: 22px; margin-top:6px;
		font-family: $font-text;
		font-size: 11px; color: #383838;
		margin-right: 10px;
		text-shadow: 1px 1px 0 #FFFFFF; text-transform: uppercase;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.2) inset;
		@include border-left-radius(12px);
	}
	dt.tag-new {
		background: url(/gfx/tag-new.png) #FFEDCF 10px 4px no-repeat;
		border-right: solid 4px #FFA300;
	}
	dt.tag-fixed {
		background: url(/gfx/tag-fixed.png) #F0FFE1 10px 4px no-repeat;
		border-right: solid 4px #5BA622;
	}
	dt.tag-changed {
		background: url(/gfx/tag-changed.png) #EBE1FF 10px 4px no-repeat;
		border-right: solid 4px #8106E0;
	}

	dd {
		border-bottom: 1px dotted #9F9F9F;
		min-height: 25px;
		padding: 10px 20px 10px 10px;
		font-size: 12px;
		margin-left: 10px;
		line-height: 14px;
		code, var {
			font-size: 12px;
		}
	}
}

/* tables */

table {
	border: 2px solid #D5DCE8; margin: 10px 0 10px 40px;
	td {
		padding: 4px 12px; border: 1px solid white; font-family: $font-text;
	}
}
thead td, table th {
	background-color: #7E8AA2; color: white; font-weight: bold; padding: 4px;
}

tbody {
	td.high {background-color:#EEF0F4; font-size: 14px;}
	tr.r0, tr:nth-child(even) {background-color:#fff;}
	tr.r1, tr:nth-child(odd)  {background-color:#F6F7FA;}
	tr:hover {background-color:#FFF1E4;}
	td:hover {background-color: #FFE3CA;}
}

/* prev-next */

.nav {
	margin: 20px 0;
	background-color: $color-attn;
	padding: 20px 0;
	@extend .clearfix;
	a {
		color: #666 !important;
		display: block;
		font-size: 16px;
		&:hover {
			text-decoration: none !important;
		}
	}
	a.nav-next {
		float:right;
	}
	a.nav-prev {
		float:left;
	}
}


/* footer */

#ohloh {
	margin-top: 40px;
}

footer {
	margin: 50px 0 0 0;
	color: $color-back;
	color: $color-code;
}

#support {
	background-color: $color-footer1;
	padding: 20px 10px;
	a {
		color: #888;
		margin: 0 20px;
		size: 14px;
	}
}
#overview {
	text-align: center;
	color: #888;
	background-color: $color-footer2;
	padding: 40px 10px;
	size: 12px;
}

/* error */

#error {
	text-align: center;
	h1 {
		font-size: 80px;
		margin-bottom: 40px;
	}
	h2 {
		font-size: 40px;
		margin-bottom: 40px;
	}
	p {
		font-size: 20px;
	}
}

@-webkit-keyframes rotateInUpRight {
	0%{-webkit-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate(-90deg);transform:rotate(-90deg);opacity:0}
	100%{-webkit-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate(0);transform:rotate(0);opacity:1}
}

@keyframes rotateInUpRight {
	0%{-webkit-transform-origin:right bottom;-ms-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg);opacity:0}
	100%{-webkit-transform-origin:right bottom;-ms-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0);opacity:1}
}

.rotateInUpRight {
	-webkit-animation: rotateInUpRight 1s;
	animation: rotateInUpRight 1s;
}


/** TWITTER **/


#twitter {
	background-color: #eee;
	color: #eee;
	padding-top: 30px;
	padding-bottom: 30px;
}
#twitter .slider {
	margin-left: 250px;
	margin-right: 50px;
}


/** MEDIUM **/

@media only screen and (max-width: 960px), only screen and (max-device-width: 960px) {
#button-jodd {
	margin-right: 10px;
}
#social {
	margin-right: 0;
}
#title h2 {
	font-size: 25px;
}
.br1 {
	display: none;
}
#badges {
	width: 610px;
}
#top {
	width: $width-page2;
	max-width: $width-page2;
}
.inner {
	width: $width-page2;
	max-width: $width-page2;
}
#twitter {
	display:none;
}
#intro #pplane {
	width: 64px;
    height: 64px;
    left: 20px;
    top: -40px;
}
#content {
	aside {
		position: static;
		width: auto;
		padding: 20px;
	}
	article {
		padding-right: 20px;
		margin-right: 0;
		@include border-top-radius(10px);
	}
}

}

/** SMALL**/

@media only screen and (max-width: 640px), only screen and (max-device-width: 640px)  {
#button-jodd {
	float:none;
	margin:0;
	a {
		margin: 10px auto;
	}
}
#title {
	padding:10px;
	text-align: center;
	h1 {
		display: none;
	}
	h2 {
		font-size: 20px;
	}
}
#twitter {
	display:none;
}
#social {
	float:none;
}
#content #social {
	display: none;
}
#badges {
	//width: 200px;
	width: inherit;
	margin: 0;
}
.br2 {
	display: none;
}
#pplane {
	display: none;
}
.badge {
	float: left;
	width: inherit;
	margin: 0 10px;

	span {
		font-size: 18px;
	}
	.desc {
		text-align: left;
		padding: 10px 20px 0 90px;
	}

	.circle, .square, .hexagon {
		margin-left: 0;
		margin-bottom: 0;
		float:left;
		font-size: 30px;
		width: 80px;
		line-height: 80px;
	}
}


#logo {
	float:none;
	text-align: center;
}
#top {
	width: auto;
	max-width: none;
	nav {
		float:none;
		margin-right: 0;
		a {
			text-align: center;
			float:none;
			margin:0;
			padding: 8px 0;
			border-bottom: 1px dotted #999;
			color: #333;
			font-size: 14px;
			&:hover {
				background-color: #f0f0f0;
			}
		}
	}
}
#title-doc {
	padding: 6px 0;
}
#shout, #main, #content, #intro, footer {
	.inner {
		width: auto;
		max-width: none;
		margin-top: 0;
	}
}
#shout {
	font-size: 14px;
}
#intro {
	background-image: none;
	background-color: $color-red;
}
div.button-long {
	a {
		width: auto;
		font-size: 16px;
		padding: 10px;
	}
}
#main {
	h2 {
		font-size: 24px;
	}
	.under {
		font-size: 14px;
	}
}


}



/* search */

body.search-overlay {overflow:hidden}
body.search-overlay:after{position:absolute;top:0;left:0;z-index:9001;width:100%;height:100%;min-height:100%;background-color:#0d0d0d;background-color:rgba(0,0,0,0.6);content:''}

.dosearch{display:none}

.search-wrapper{position:absolute;top:50px;width:100%;padding-right:10%;padding-left:10%;*zoom:1;}
.search-wrapper:before,.search-wrapper:after{display:table;line-height:0;content:"";}
.search-wrapper:after{clear:both;}
@media only screen and (min-width:48em){.search-wrapper{top:100px}}

.search-form{position:relative;top:0;left:-200px;z-index:9002;width:100%;opacity:0;transition:all 200ms 100ms cubic-bezier(0,0.6,0.4,1)}
.search-form.active{top:0;left:0;opacity:1}
.search-form.hidden{display:none}
.search-form ::-webkit-input-placeholder{font-size:32px;font-size:2rem}
.search-form i {position:absolute;top:.6rem;right:20%;z-index:1;display:block;color:#fff;text-align:center;cursor:pointer}
.search-form .search-field{width:80%;font-size:32px;font-size:2rem;color:#fff;background-color:transparent;border:0;border-bottom:1px solid #fff;border-radius:0;box-shadow:none;background-clip:padding-box;-webkit-appearance:none}
.search-form .search-field:focus{outline:0;box-shadow:none}

.search-form .search-field::-webkit-search-decoration,
.search-form .search-field::-webkit-search-cancel-button,
.search-form .search-field::-webkit-search-results-button,
.search-form .search-field::-webkit-search-results-decoration {display:none}

.search-form .search-list {position:absolute;width:70%; margin-top: 30px; margin-left: 40px}
.search-form .search-list li {padding: 6px;}
.search-form .search-list a {color:#eee; font-size: 1.2em;}
.search-form .search-list a:hover {color:#fff; font-weight: bold;}


/* coderay */

@import '_coderay'
